<%= render "layouts/dropdown_account" %>
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to "Tech University", root_path, class: "brand-logo right" %>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "Courses", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Enrollments", students_path %></li>
        <% end %>
        <li><a class="dropdown-trigger" data-target="account-dropdown">
          Account<i class="material-icons right">arrow_drop_down</i>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-menu">
  <li><%= link_to "Courses", root_path %></li>
  <% if logged_in? %>
    <li><%= link_to "Enrollments", students_path %></li>
  <% end %>
  <li><a class="dropdown-trigger" data-target="account-dropdown-mobile">
    Account<i class="material-icons right">arrow_drop_down</i>
  </a></li>
</ul>